<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="EWR_LOGFILE" value="/tmp/otvl_web_server.log"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/otvl_web/dev/shell/e_wrapper.sh}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="dev/shell/run_server.sh"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/otvl_web}"/>
</launchConfiguration>
