<!DOCTYPE html>
<html>
  <head>
    <base href=/ >
    <title>{{ content.title }}</title>
    <meta charset=utf-8>
    <link rel=icon type=image/ico href=statics/img/favicon.ico>
  </head>
  <body>
    <div>
{% if content.heading %}
      <h1>{{ content.heading }}</h1>
{% endif %}
{% for sf in content.stream_fields %}
{% if sf.type == "html" %}
      <div>
        {{ sf.content }}
      </div>
{% endif %}
{% if sf.type == "sf-img" %}
      <img
        src="{{ sf.src }}"
      {%- if 'alt' in sf %}
        alt="{{ sf.alt }}"
      {%- endif %}
      {%- if 'title' in sf %}
        title="{{ sf.title }}"
      {%- endif %}
      />
{% endif %}
{% endfor %}
    </div>
  </body>
</html>