
.page-article a:link, .page-article a:visited, .page-article a:hover, .page-article a:active {
  background-color: #eceff1;
  padding: 2px;
  color: #003E68;
  text-decoration: none;
}

.page-bottom a:link, .page-bottom a:visited, .page-bottom a:hover, .page-bottom a:active {
  padding: 2px;
  color: #003E68;
  text-decoration: none;
}


.brand_img {
  border-radius: 50px;
}

.drawer_brand_img {
  max-height: 30px;
  border-radius: 30px;
}

.self_width_img {
  max-width:100%;
  height: auto;
}

.page-article table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}

.page-article hr {
  color: white;
  background-color: rgb(207, 216, 220);
  height: 1px;
  box-sizing: content-box;
}
