@tailwind base;

.app-style {
  @apply text-gray-700 bg-gray-50;
}

.app-style h1 {
  @apply text-3xl font-bold;
}
.app-style h2 {
  @apply text-3xl;
}
.app-style h3 {
  @apply text-xl font-bold;
}
.app-style h4 {
  @apply text-xl;
}
.app-style h5 {
  @apply text-xl font-bold;
}
.app-style h6 {
  @apply text-xl;
}

.v-menu-bar {
  @apply shadow-md lg:mb-6 md:mb-4
}

.v-menu-container {
  @apply space-x-2 flex items-center
}

.v-menu-bar-item-link {
  display: block;
  min-width: 6em;
  @apply px-3 py-2 text-gray-500 font-bold hover:bg-gray-200 hover:text-blue-800
}

.v-menu-bar-dropdown {
  display: block;
  position: absolute;
  z-index: 1;
  min-width: 10em;
  @apply bg-gray-50 shadow-md
}

.v-submenubar-item {
  display: block;
  @apply px-3 py-2 font-medium hover:bg-gray-200 hover:text-blue-800
}

.v-touch-menu-container {
  display: block;
  z-index: 1;
  min-width: 10em;
  @apply px-2 py-4 absolute rounded-md shadow-md bg-gray-50
}

.v-touch-menu-item {
  display: block;
  min-width: 6em;
  @apply py-1 text-gray-500 font-bold hover:bg-gray-200 hover:text-blue-800
}

.v-touch-submenu-item {
  display: block;
  min-width: 6em;
  @apply px-6 py-1 text-gray-600 font-medium hover:bg-gray-200 hover:text-blue-800
}

.page-content a:link, .page-content a:visited, .page-content a:hover, .page-content a:active {
  text-decoration: none;
  @apply px-1 py-1 border-gray-500 border-b border-dotted hover:bg-gray-200 hover:text-blue-800;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .page-content p {
  @apply pt-4
}

.page-content hr {
  @apply border-gray-500 border-t;
}

.page-content img {
  display: inline;
}

.page-content .v-img-header {
  display: block;
  @apply shadow-md rounded w-full mx-auto max-w-2xl lg:max-w-4xl
}

.page-content .v-img {
  display: block;
  @apply shadow-md rounded w-full mx-auto mt-4
}

.page-content ul {
  @apply list-disc mt-4 pl-8
}

.blog-list-box {
  @apply flex flex-wrap items-end
}

.blog-list-box h6 {
  @apply inline w-3/4
}

.blog-list-date {
  @apply inline w-1/4 text-xs text-gray-600 italic text-right
}

.blog-list-summary {
  @apply inline w-10/12 text-sm py-1;
}

.blog-list-more {
  @apply w-2/12 text-right;
}

.page-content .blog-list-more a:link, .page-content .blog-list-more a:visited, .page-content .blog-list-more a:hover, .page-content .blog-list-more a:active {
  @apply inline border-b border-dotted border-gray-600 bg-transparent text-sm px-0 py-1 ml-2
}

.page-content .codehilite {
  @apply mt-4 bg-gray-200 text-gray-900 text-sm
}

.blog-menu {
  @apply rounded-md text-gray-600
}

.blog-box {
  @apply border shadow-md pt-2;
}

.blog-box hr {
  @apply border-gray-500 mx-4 my-2;
}

.blog-menu-line {
  display: block;
  @apply mx-1 px-1 my-1 py-1 text-sm hover:bg-gray-200 hover:text-blue-800
}

.blog-menu-line-soon {
  display: block;
  @apply mx-1 px-1 my-1 py-1 text-sm hover:bg-gray-300 hover:text-blue-800
}

.blog-menu-line-disallowed {
  display: block;
  @apply mx-1 px-1 my-1 py-1 text-sm text-gray-400 cursor-not-allowed
}

.v-sf-cards-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-6 lg:gap-8
}

.v-sf-card-container {
  @apply mt-8;
}

.v-sf-card {
  @apply border rounded shadow-md;
}

.v-sf-card h6 {
  @apply bg-gray-300 text-base font-semibold text-center px-2 py-3
}

.v-sf-card-content {
  @apply px-3 pb-3
}

.page-footer a:link, .page-footer a:visited, .page-footer a:hover, .page-footer a:active {
  @apply my-1 py-1 hover:bg-gray-200 hover:text-blue-800
}

@tailwind components;
@tailwind utilities;
